# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = ScrapeEdgar.settings

[deploy:localhost-target]
url = http://localhost:6800/
project = ScrapeEdgar

[deploy:aws-target]
url = http://54.183.77.100:6800/
project = ScrapeEdgar


